/* Resetowanie stylów */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Rozmiar czcionki dla HTML */
html {
  font-size: 62.5%;
}

/* Domyślna czcionka dla wszystkich elementów, z wyjątkiem <i> */
*:not(i) {
  font-family: "Poppins", sans-serif;
}

/* Styl dla nagłówka */
header {
  position: fixed;
  width: 100%;
  background-color: #ffffff;
  padding: 2.2rem 5rem; /* Zmniejszono padding */
  opacity: 1;
}

/* Styl dla nawigacji */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Styl dla listy w nawigacji */
nav ul {
  list-style: none;
  display: flex;
  gap: 2rem;
}

/* Styl dla linków w nawigacji */
nav a {
  font-size: 1.8rem;
  text-decoration: none;
}

/* Styl dla logo */
nav a#logo {
  color: #000000;
  font-weight: 700;
}

/* Styl dla linków w liście */
nav ul a {
  color: #000000;
  font-weight: 600;
}

/* Styl dla linków w liście po najechaniu myszką */
nav ul a:hover {
  font-size: 20px;
  text-shadow: 0px 0px 7px rgb(114, 105, 105), 0px 0px 7px rgb(161, 154, 154), 0px 0px 7px #fff;
}

/* Styl dla sekcji o id "home" */
section#home {
  height: 100vh;
  display: grid;
  place-items: center;
}

/* Styl dla nagłówka H1 */
h1 {
  font-size: 4rem;
}

/* Styl dla ikony "fas fa-bars" */
#ham-menu {
  display: none;
}

/* Styl dla aktywnej nawigacji na mniejszych ekranach */
nav ul.active {
  left: 0;
}

/* Media queries dla różnych szerokości ekranu */

@media only screen and (max-width: 991px) {
  html {
    font-size: 56.25%;
  }
  header {
    padding: 2.2rem 5rem;
  }
}

@media only screen and (max-width: 767px) {
  html {
    font-size: 50%;
  }
  #ham-menu {
    display: block;
    color: #000000;
  }
  nav a#logo,
  #ham-menu {
    font-size: 3.2rem;
  }
  nav ul {
    background-color: rgb(255, 255, 255);
    position: fixed;
    left: -100vw;
    top: 73.6px;
    width: 100vw;
    height: calc(100vh - 73.6px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transition: 1s;
    gap: 0;
  }
}

@media only screen and (max-width: 575px) {
  html {
    font-size: 46.87%;
  }
  header {
    padding: 2rem 3rem;
  }
  nav ul {
    top: 65.18px;
    height: calc(100vh - 65.18px);
  }
}

/* Klasa "kal" */
.kal {
  display: grid;
  place-items: center;
}
/* Dodaj te style do swojego pliku style.css */

/* Wspólne style dla .contener--home i .contener--kontakt */
.contener--home, .contener--kontakt, .contener--alergie, .contener--meni, .JEZ, .logo, .los{
  background-size: cover;
  background-position: center top;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 20px;
}

/* Styl dla .contener--home */
.contener--home {
  background-color: #D3D5D4;
  background-image: url('MATA.png');
  color: rgb(0, 0, 0);
}
.logo{
  background-color: #D3D5D4;
  background-image: url('Tekst\ akapitu.png');
  color: rgb(0, 0, 0);
}
.los{
  background-color: #D3D5D4;
  background-image: url('3.png');
  color: rgb(0, 0, 0);
}
.JEZ{
  background-color: #D3D5D4;
  background-image: url('KOSTKI.png');
  color: rgb(0, 0, 0);
}
/* Styl dla .contener--kontakt */
.contener--kontakt {
  background-color: #D3D5D4;
  background-image: url('DRZEWO.png');
  color: rgb(0, 0, 0);
}
.contener--menu {
  background-color: #D3D5D4;
  background-image: url('FIEOLET.png');
  color: rgb(0, 0, 0);
}

/* Styl dla .contener--kontakt */
.contener--alergie {
  background-color: #D3D5D4;
  background-image: url('397065990_3507120079554184_4264151274952474649_n.png');
}
.contener--meni {
  background-color: #D3D5D4;
  background-image: url('FIEOLET.png');
}


/* Wspólny styl dla .contener--home i .contener--kontakt paragrafów */
.contener--home p, .contener--kontakt p, .contener--menu p, .contener--alergie p {
  font-size: 2.3rem;
}
.contener--stopka{
  background: #141414;
  color: aliceblue;
}